@model IEnumerable<FirstAppFirstClassPweb.Models.Course>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Lista de Cursos (<a asp-action="Create">adicionar</a>) </h1>

<div class="row">
    <div class="col-3">
        <a asp-action="Index" asp-route-disponivel="true">Todos</a>
        <t>|</t>
        <a asp-action="Activos" asp-route-disponivel="true">Activos</a>
        <t>|</t>
        <a asp-action="Inactivos" asp-route-disponivel="false">Inactivos</a>
        <t>|</t>
    </div>
    <div class="col-9">
        <form method="post">
            <label for="fname">Pesquisa de Curso:</label>
            <input type="text" name="pesquisa" id="fname" placeholder="Categoria A">
            <input type="submit" value="Pesquisar">
        </form>
    </div>
    
</div>
 
<p></p>    
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmDestaque)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponivel)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.categoria.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
